<div class="bg-neutrals-white-bone">
    <div class="container py-16 md:py-24">
        <h2 class="font-bold text-primary text-3xl md:text-4xl lg:text-5xl text-center">{{ section.settings.collection_individual_title }}</h2>
        <div class="flex justify-center gap-8 mt-8 md:mt-10">
            <a href="/" class="font-bold text-xs text-neutrals-gray uppercase pb-2 tracking-wide">All</a>
            <a href="/" class="font-bold text-xs text-neutrals-gray uppercase pb-2 tracking-wide border-b-4 border-primary">Individual Products</a>
            <a href="/" class="font-bold text-xs text-neutrals-gray uppercase pb-2 tracking-wide">Bundles</a>
        </div>
    </div>
</div>

<div class="container">
    <ul class="grid grid-cols-1 gap-10 md:grid-cols-2 md:gap-24 lg:grid-cols-4 lg:gap-10">
        {% for product in collections[section.settings.collection].products limit: section.settings.products_qty %}
        <li class="">
            {% render 'product-item', product: product %}
        </li>
        {% endfor %}
    </ul>
</div>

{% schema %}
 {
     "name": "Collection Individual",
     "settings": [
         {
             "type": "text",
             "id": "collection_individual_title",
             "label":"Title"
         },
         {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
     ]
 }
 {% endschema %}