<div class="bg-neutrals-white-bone pt-24">
    <div class="container">
        <div class="w-full lg:w-11/12">
            <span class="font-semibold text-sm text-neutrals-gray-light block">
                <a href="/">Home</a> /
                <a href="/">Category</a> /
                <a href="/">Product</a>
            </span>
        </div>
    </div>
</div>