<div class="bg-neutrals-white-bone pt-24 md:pt-48">
    <div class="container">
        <div class="w-full md:w-3/4 lg:w-1/2 mx-auto">
            <div class="relative">
                <div class="transform -rotate-90 text-vertical -translate-y-1/2 absolute -left-12 md:-left-8 top-1/2 bottom-0 font-bold text-bright-pink text-3xl uppercase">
                    {{ section.settings.title }}
                </div>
                <div class="font-semibold text-neutrals-gray md:text-lg ml-16 md:ml-24">
                    {{ section.settings.content}}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Products Why",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        }
    ],
    "presets": [
        {
            "name": "Products Why",
            "category": "Custom Sections"
        }
    ]
}

{% endschema %}
