<div class="container pt-24 md:pt-40">
    <div>
        <h2 class="font-bold text-primary text-3xl md:text-4xl lg:text-5xl">{{ section.settings.title }}</h2>
    </div>
    <ul class="grid grid-cols-3 gap-24 mt-20">
        {% for product in collections[section.settings.collection].products  %}
        <li class="">
            {% render 'product-item', product: product %}
        </li>
        {% endfor %}
    </ul>
</div>

{% schema %}
 {
     "name": "Product Blocks",
     "settings": [
         {
             "type": "text",
             "id": "title",
             "label":"Title"
         },
         {
             "type": "collection",
             "id": "collection",
             "label": "Collection"
         }
     ],
     "presets": [
         {
             "category": "Custom Sections",
             "name":"Product Blocks"
         }
     ]
 }
 {% endschema %}