<div class="bg-neutrals-white-bone">
    <div class="container pt-24 md:pt-40">
        <div class="w-full {% if section.settings.products_qty == 3 %} w-full md:w-11/12 mx-auto {% elsif section.settings.products_qty == 4 %} w-full {% else %} w-full {% endif %}">
            <div class="mb-20">
                <h2 class="font-bold text-primary text-3xl md:text-4xl lg:text-5xl">{{ section.settings.title }}</h2>
                {% if section.settings.title != blank %}
                    <div class="md:w-2/3 lg:w-2/5 font-semibold text-neutrals-gray text-xl mt-8">
                        {{ section.settings.content }}
                    </div>
                {% endif %}
            </div>
            <div class="relative overflow-x-auto lg:overflow-hidden">
                <div class="w-2.5/1 md:w-2/1 lg:w-auto pb-6 lg:pb-0">
                    <ul class="flex md:grid md:grid-cols-2 gap-8 md:gap-10 {% if section.settings.products_qty == 2 %} md:grid-cols-2 md:gap-24 {% elsif section.settings.products_qty == 3 %} md:grid-cols-3 md:gap-18 {% else %} lg:grid-cols-4 lg:gap-10 {% endif %}">
                        {% for product in collections[section.settings.collection].products limit: section.settings.products_qty %}
                        <li class="">
                            {% render 'product-item', product: product %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
 {
     "name": "Product Blocks",
     "settings": [
         {
             "type": "text",
             "id": "title",
             "label":"Title"
         },
         {
            "type": "richtext",
            "id": "content",
            "label":"Content"
        },
         {
             "type": "collection",
             "id": "collection",
             "label": "Collection"
         },
         {
            "type": "range",
            "id": "products_qty",
            "label": "How many products to show",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
        }
     ],
     "presets": [
         {
             "category": "Custom Sections",
             "name":"Product Blocks"
         }
     ]
 }
 {% endschema %}