<div class="bg-neutrals-white-bone">
    <div class="container py-20 md:py-24">
        <div class="lg:w-5/6 mx-auto">
            <h3 class="font-semibold text-[#333333] text-4xl">{{ section.settings.title }}</h3>
            <div class="font-semibold text-neutrals-gray text-2xl mt-8">
                {{ section.settings.subtitle }}
            </div>
            <div class="font-semibold text-neutrals-gray text-xl mt-12" >
                {{ section.settings.content }}
            </div>
        </div>
    </div>
</div>
{% schema %}

{
    "name": "Richtext Content",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        }
    ],
    "presets": [
        {
            "name": "Richtext",
            "category": "Custom Sections"
        }
    ]
}

{% endschema %}