<div class="bg-neutrals-white-bone pt-24 md:pt-36 xl:pt-24">
    <div class="container">
        <div class="lg:w-5/6 mx-auto flex flex-col-reverse md:flex-row justify-between items-center">
            <div class="md:w-[55%] font-header font-semibold text-neutrals-gray text-3xl md:text-4xl lg:text-5xl mt-5 md:mt-0">
                {{ section.settings.title }}
            </div>
            <div class="w-[45%] md:w-auto mx-auto ">
                <img src="{{ section.settings.image| img_url: '1000x' }}" alt="image">
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Title with Image",
    "settings": [
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Title with Image",
            "category": "Custom Sections"
        }
    ]
}

{% endschema %}
