@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "swiper.css";

input[type="number"].input-no-arrows::-webkit-inner-spin-button,
input[type="number"].input-no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mySwiper .swiper-slide img {
  @apply border-b-4 border-transparent pb-4;
}

.mySwiper .swiper-slide:not(.swiper-slide-thumb-active) {
  @apply filter grayscale opacity-70;
}

.mySwiper .swiper-slide.swiper-slide-thumb-active {
  @apply opacity-100;
}

.mySwiper .swiper-slide.swiper-slide-thumb-active img {
  @apply border-bright-lila;
}

@media (max-width: 767px) {
  .mySwiper .swiper-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .mySwiper .swiper-slide {
    @apply !w-full my-3;
  }
}

html {
  @apply font-body antialiased;
}

.text * {
  font-family: "Surt-Regular", sans-serif !important;
}

#rc_login {
  display: none !important;
}

.product-tab-how-title span {
  @apply bg-[#954969] px-2.5 py-0.5 rounded-lg font-header font-semibold text-xl md:text-2xl text-white;
}

[v-cloak] {
  display: none !important;
}

.swiper.product-featured-image,
.swiper.product-thumbnails {
  @apply h-auto;
}

/* Ovewriting recharge stuff */
.rc_layout__container {
  padding: 6rem 0;
}

.rc_layout__container .row.grid {
  justify-content: center;
  display: flex !important;
}

.recharge .rc_layout__full {
  justify-content: center;
}

.rc_layout__container .flex,
.rc_layout__container .child-flex > * {
  flex: none !important;
}

.jdgm-preview-badge .jdgm-star.jdgm-star,
.jdgm-prev-badge__text {
  @apply text-bright-orange font-semibold text-sm;
}

.product-item-stars .jdgm-preview-badge .jdgm-star.jdgm-star,
.product-item-stars .jdgm-prev-badge__text {
  @apply text-primary font-semibold text-sm;
}

#conjured_save_advocate {
  @apply font-header font-black text-xl text-bright-lila bg-primary px-10 py-3 rounded-l-5xl rounded-br-5xl inline-block mt-8;
}

#conjured_referral_name,
#conjured_referral_email {
  @apply w-full md:w-1/2 rounded-md text-neutrals-gray;
}

.template_advocate_signup_heading {
  @apply font-header font-black text-primary text-5xl md:text-6xl xl:leading-16;
}

.template_advocate_signup_subheading {
  @apply font-body font-semibold text-neutrals-gray text-lg my-5 xl:leading-9;
}

.conjured_image {
  @apply mb-10;
}

.conjured_image img {
  @apply max-h-188 rounded-tl-5xl md:rounded-tl-6xl md:rounded-br-6xl
  rounded-br-5xl object-cover;
}

.conjured_content [type="checkbox"] {
  @apply text-primary;
}
