@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "swiper.css";


input[type=number].input-no-arrows::-webkit-inner-spin-button,
input[type=number].input-no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mySwiper .swiper-slide img {
    @apply border-b-4 border-transparent pb-4;
}

.mySwiper .swiper-slide:not(.swiper-slide-thumb-active) {
    @apply filter grayscale opacity-70;
}

.mySwiper .swiper-slide.swiper-slide-thumb-active {
    @apply opacity-100;
}

.mySwiper .swiper-slide.swiper-slide-thumb-active img {
    @apply  border-bright-lila;
}

@media (max-width: 767px) {
    .mySwiper .swiper-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .mySwiper .swiper-slide {
        @apply !w-full my-3;
    }
}

html {
    @apply font-body antialiased;
}